<h1>Edit the user!</h1>
<p>Edit your info below</p>

<%= form_for @user do |f| %>

<ul>
	<% @user.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
	<%= f.text_field :username %>
	<%= f.text_field :email %>
	<%= f.password_field :password %>
	<%= f.submit "Submit" %>
<% end %>