<h1>Hi, new user!</h1>
<p>Type in your details</p>

<!-- <form method="post" action="/users" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="user[username]">
	<input type="text" name="user[email]">
	<input type="password" name="user[password]">
	<input type="submit" name="submit" value="Submit">
</form>  -->

<%= form_for @user do |f| %>
	<%= f.text_field :username %>
	<%= f.text_field :email %>
	<%= f.password_field :password %>
	<%= f.submit "Submit" %>
<% end %>